<app-content-header title="Product Details" [backButton]="true" />
<div *ngIf="product" class="grid md:grid-cols-[1fr_2fr] gap-6">
  <mat-card class="h-fit">
    <mat-card-content>
      <img [src]="product.image" alt="Product Image" class="w-full h-auto" />
    </mat-card-content>
  </mat-card>
  <div>
    <h2>{{ product.blend_name }}</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
      sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </p>
    <div>
      <p class="font-medium !m-0">Blend Name</p>
      <p>{{ product.blend_name }}</p>
    </div>
    <div>
      <p class="font-medium !m-0">Origin</p>
      <mat-chip-set class="mb-3">
        <mat-chip *ngFor="let item of origin" selected>
          {{ item }}
        </mat-chip>
      </mat-chip-set>
    </div>
    <div>
      <p class="font-medium !m-0">Variety</p>
      <p>{{ product.variety }}</p>
    </div>
    <div>
      <p class="font-medium !m-0">Notes</p>
      <mat-chip-set class="mb-3">
        <mat-chip *ngFor="let item of notes">
          {{ item }}
        </mat-chip>
      </mat-chip-set>
    </div>
    <div>
      <p class="font-medium !m-0">Intensifier</p>
      <p>{{ product.intensifier }}</p>
    </div>
  </div>
</div>
