<div>
  <mat-toolbar color="primary" class="sticky top-0 z-10">
    <button
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isMobile"
      data-testid="menu-button"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="m-2 scale-125">conveyor_belt</mat-icon>
    <span class="ml-3.5">Product Management</span>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav
      #drawer
      [(opened)]="opened"
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="true"
      [fixedTopGap]="isMobile ? 56 : 64"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/products" routerLinkActive="active">
          <mat-icon matListItemIcon>home</mat-icon>
          Home
        </a>
        <a mat-list-item>
          <mat-icon matListItemIcon>settings</mat-icon>
          Settings
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="grid grid-rows-[1fr] main-container">
        <div class="flex-1 px-10 py-5">
          <router-outlet></router-outlet>
        </div>
        <footer
          class="bg-mist h-16 border-silver border-t flex items-center justify-end pr-5"
        >
          Shivaniben Pathak
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
