@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  --sidebar-width: 64px;

  --silver-color: #e1e3e6;
  --mist-color: #f7f7f9;
  --primary-color-800: #61291c;
  --ink-color: #52505f;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: var(--ink-color);
}

.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  border: 0;
}

.ag-paging-panel {
  justify-content: center;
}

.ag-theme-material {
  & .mdc-evolution-chip-set__chips {
    flex-wrap: nowrap;
  }
}
